{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Edit Book</h1>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" class="form-control" value="{{ book.title }}">
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author" class="form-control" value="{{ book.author }}">
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN:</label>
                    <input type="text" id="isbn" name="isbn" class="form-control" value="{{ book.isbn }}">
                </div>
                <div class="text-center">
                    <input type="submit" value="Update Book" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}