{% extends "base.html" %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-7">
    <div class="card mb-4">
      <div class="card-body">
        <h1 class="display-4">A Little About Us</h1>
        <hr class="my-4" />
        <p class="lead">We are a Uk based book review and share website. Our aim is to provide a platform where you can share your thoughts on books, read other's reviews or simply find new books to read. We are a community of book lovers who love to discuss new books, classics or just enjoy reading.</p>
        <hr class="my-4" />
        <div class="post-preview mb-4">
          <a href="post.html">
            <h2 class="post-title">Find your next read!</h2>
            <h3 class="post-subtitle">5 Best sellers</h3>
          </a>
        </div>
        <hr class="my-4" />
        <div class="post-preview mb-4">
          <a href="post.html">
            <h2 class="post-title">The best books to read this summer</h2>
            <h3 class="post-subtitle">Most popular holiday reads</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}